html, body, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
  background-color: #333;
}

.game {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 40px;
  width: 430px;
}

.snake-game {
  position: relative;
  border: 5px solid black;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  background-color: #777;
  height: 420px;
}


ul {
  margin: auto;
  display: flex;
  list-style: none;
}

li {
  float: left;
  display: block;
  width: 7px;
  height: 7px;
  background-color: black;
}


li.apple {
  background-color: #F54A11;
}

li.snake {
  background-color: #11BCF5;
}

.game-over {
  top: 150px;
  display: block;
  width: 400px;
  height: 100px;
  position: relative;
  background-image: url("gameover.png");
  background-size: 100% 100%;
}

p {
  font-family: helvetica;
  font-weight: lighter;
}

.start {
  font-size: 40px;
  text-align: center;
  font-weight: lighter;
  font-family: 'Orbitron';
  margin-top: 165px;
}

.button:hover {
  background-color: #4B7EF7;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.boost1 {
  margin-left: 5px;
  background-color: blue;
  width: 20px;
}

.boost2 {
  margin-right: 5px;
  background-color: red;
  width: 20px;
}

.tile {
  transition: all 1s;
}

.title {
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

p {
  color: #ddd;
  font-family: 'Orbitron', sans-serif;
}
