html, body, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
  background-color: #333;
}

.game {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  top: 40px;
  width: 600px;
}

.snake-game {
  position: relative;
  border: 5px solid black;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  background-color: #aaa;
}


ul {
  margin: auto;
  display: flex;
  list-style: none;
}

li {
  float: left;
  display: block;
  width: 7px;
  height: 7px;
  background-color: black;
}


li.apple {
  background-color: #11BCF5;
}

li.snake {
  background-color: #F54A11;
}

.game-over {
  top: 150px;
  display: block;
  width: 400px;
  height: 100px;
  position: relative;
  background-image: url("gameover.png");
  background-size: 100% 100%;
}

p {
  font-family: helvetica;
  font-weight: lighter;
}

.start {
  font-size: 40px;
  text-align: center;
  font-weight: lighter;
  font-family: helvetica;
  margin-top: 40px;
}

.button:hover {
  background-color: #4B7EF7;
}
